<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<style> 
	    /*Add some basic styling */
	    body{ font-family:sans-sareif; margin: 2em; }
	    nav a { margin-right: 1em; }
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color:hsl(0, 88.20%, 50.20%);
	}
</style>

	</head>
	<body>
	  <nav>
	      <a href="/">home</a>
	      <a href="/about">About</a>
	      <a href="/projects">projects</a>
	  </nav>
	<hr>
	<h1> venkat </h1>
	<slot />
	<hr>
	<footer>
	<p>My personnel profile</p>
	</footer>
		<slot />
	</body>
</html>